<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCActionSheetExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E0890581E76882D00FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0890711E76882E00FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E08907C1E76882E00FE43FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
